{
  "root": true,
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react-hooks"],
  "extends": [
    "eslint-config-alloy/react",
    "eslint-config-alloy/typescript",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-console": 1,
    "no-implict-any": 0,
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "@typescript-eslint/no-angle-bracket-type-assertion": 0,
    "@typescript-eslint/no-object-literal-type-assertion": 0,
    "@typescript-eslint/no-triple-slash-reference": 0,
    "@typescript-eslint/prefer-interface": 0
  }
}
