# Build Output
esm/
esm-tsc/
dist/

# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lockfiles
yarn.lock
package-lock.json

# Output of 'npm pack'
*.tgz